<!doctype html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>

<body>
<header>
    <%include ../partials/header %>
</header>
<section class="container">
    <h1 class="text-center orange pt-5">Nos ateliers du moment</h1>

    <p class="text-center dark py-5">Plutôt viande ou plutôt légumes ? Envie de maîtriser la cuisson d'un moelleux au chocolat ou la préparation de délicieux smoothies ? Découvrez dès à présent nos ateliers disponibles.</p>
    <div class="row d-flex justify-content-between ">
        <% data.forEach(function(element){%>
        <% if(element.statut) { %>
        <div class="col-md-3 text-center mx-4 mb-5">
            <div class="card" style="width: 18rem;">
                <!-- gérer la gestion des images ajout d'une pièce jointe -->
                <img class="card-img-top" src="img/uploads/<%=element.img%> " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><%=element.date%></p>
                    <p class="card-text"><%=element.heure_debut%></p>

                    <h5 class="card-title"><%=element.titre%></h5>
                    <p class="card-text"> Description : <%=element.description%></p>
                    <p class="card-text">Nombre de places  : <%=element.nb_place_res%> / <%=element.nb_place_disp%></p>
                    <p class="card-text"><%=element.duree%> H</p>
                    <p class="card-text"><%=element.prix%>€ / personne</p>
                    <form id="<%= element._id %>" action=/reservationsRoute/save method="post">
                        <input type="hidden" value="<%= element._id %>" name="id_atelier" id="id_atelier">
                        <% if(element.nb_place_res === element.nb_place_disp) { %>
                        <button type="submit" class="btn btn-danger disabled reservButton" id="" data-id="<%= element._id %>"  disabled >S'inscrire </button>
                        <% } else{ %>
                        <button type="submit" class="btn btn-danger reservButton" data-id="<%= element._id %>" id="">S'inscrire </button>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
    </div>
</section>
<!--fin modal edition atelier-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="./js/atelier/editAtelier.js"></script>
<script src="../js/atelier/reservAtelier.js"></script>

<%include ../partials/footer%>
</body>
</html>
