<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/style.css" type="text/css">
</head>
<body>
<a href="/" class="btn btn-primary">retour accueil</a>
<section class="container">
    <h1 class="text-center">Ateliers</h1>
    <div class="row">
        <% data.forEach(function(element){%>
        <% if(element.statut) { %>
        <div class="col-md-3 text-center mx-auto">
            <div class="card" style="width: 18rem;">
                <!-- gérer la gestion des images ajout d'une pièce jointe -->
                <img class="card-img-top" src="img/uploads/<%=element.img%> " alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%=element.titre%></h5>
                    <p class="card-text"> Description : <%=element.description%></p>
                    <p class="card-text">Nombre de places disponibles : <%=element.nb_place_disp%></p>
                    <p class="card-text">Nombre de places réservées : <%=element.nb_place_res%></p>
                    <p class="card-text"><%=element.duree%> Jours</p>
                    <p class="card-text"><%=element.date%></p>
                    <p class="card-text"><%=element.prix%>€ / personne</p>
                    <form action=/reservationsRoute/save method="post">
                        <input type="hidden" value="<%= element._id %>" name="id_atelier">
                        <button type="sumit" class="btn btn-danger">S'inscrire </button>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
    </div>
</section>

<!--fin modal edition atelier-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="./js/atelier/editAtelier.js"></script>
</body>
</html>
