<!doctype html>
<html lang="en">
<head>

    <% include ../partials/head %>

</head>

<body>
<header>
    <%include ../partials/header %>
</header>
<section class="container ">
    <h1 class="text-center orange pt-5">Nos ateliers du moment</h1>

    <p class="text-center dark py-5">Plutôt viande ou plutôt légumes ? Envie de maîtriser la cuisson d'un moelleux au chocolat ou la préparation de délicieux smoothies ? Découvrez dès à présent nos ateliers disponibles.</p>
    <div class="container d-flex justify-content-around flex-wrap populaire py-5 px-5 rounded">
        <% data.forEach(function(element){%>
        <% if(element.statut) { %>
        <div class=" text-center  mb-5">
            <div class="card shadow p-1 mb-2 bg-white rounded " style="width: 18rem;">
                <!-- gérer la gestion des images ajout d'une pièce jointe -->
                <img class="card-img-top img-fluid" src="img/uploads/<%=element.img%> " alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><i class="fas fa-calendar-alt orange"></i> <%=element.date%></p>
                    <p class="card-text"><i class="fas fa-clock orange"></i> <%=element.heure_debut%></p>
                    <p class="card-text"><i class="fas fa-euro-sign orange"></i> <%=element.prix%>€ / personne</p>

                    <h5 class="card-title pimky font-weight-bold"><%=element.titre%></h5>
                    <div class="mb-3" style="height:auto">
                        <p class="card-text "> Description : <%=element.description%></p>
                    </div>
                    <p class="card-text"><i class="fas fa-users orange"></i> Places  : <%=element.nb_place_res%> / <%=element.nb_place_disp%></p>
                    <p class="card-text"><i class="fas fa-hourglass-half orange"></i> Durée :<%=element.duree%> H</p>
                    
                    <form id="<%= element._id %>" action=/reservationsRoute/save method="post">
                        <input type="hidden" value="<%= element._id %>" name="id_atelier" id="id_atelier">
                        <% if(element.nb_place_res === element.nb_place_disp) { %>
                        <button type="submit" class="pink disabled reservButton" data-id="<%= element._id %>"  disabled >S'inscrire </button>
                        <% } else{ %>
                        <button type="submit" class="reservButton pink" data-id="<%= element._id %>">S'inscrire </button>
                        <% } %>
                    </form>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
    </div>
</section>

<!-- debut modal inscription utilisateur -->
<div class="modal fade" id="inscription-utilisateur" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Inscription</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="utilisateurs/save" method="post">
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" class="form-control" id="nom" name="nom" required>
                    </div>
                    <div class="form-group">
                        <label for="prenom">Prénom</label>
                        <input type="text" class="form-control" id="prenom" name="prenom" required>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="mobile">Numéro de mobile</label>
                        <input type="number"  class="form-control" id="mobile" name="telephone">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Mot de passe</label>
                        <input type="password"  class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="mobile">Confirmer votre mot de passe</label>
                        <input type="password"  class="form-control" id="passwordConf" name="passwordConf">
                    </div>
                    <button type="submit" class="btn btn-primary">Inscription</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--fin modal inscription utilisateur-->

<!-- debut modal connexion utilisateur -->
<div class="modal fade" id="connexion-utilisateur" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Connexion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="utilisateurs/login" method="post">
                    <div class="form-group">
                        <label for="nom">Adresse Mail</label>
                        <input type="text" class="form-control" id="emailLogin" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="prenom">Mot de passe</label>
                        <input type="password" class="form-control" id="passwordLogin" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Connexion</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--fin modal connexion utilisateur-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="./js/atelier/editAtelier.js"></script>
<script src="../js/atelier/reservAtelier.js"></script>

<%include ../partials/footer%>
</body>
</html>
